body{
    background-color:#F7F7F7;
}
.carousel-item {
    padding-top: 60px;
    height: 45.5rem;
  }
  
.carousel-control-prev{
    height:3.125rem;
    width:3.125rem;
    border-radius: 100%;
    background-color: black;
    margin-top: 21.75rem;
    margin-left: 3.125rem;
}
.carousel-control-next{
    height:3.125rem;
    width:3.125rem;
    border-radius: 100%;
    background-color: black;
    margin-top: 21.75rem;
    margin-right: 3.125rem;
}
.twoimages{
    display: flex;
    margin-bottom: 100px;
}
.firstphoto{
    width: 650px;
    height: 650px;
    margin-top: 100px;
    margin-left: 50px;
    padding-bottom: 50px;
}
.secondphoto{
    width: 650px;
    height:635px;
    margin-top: 100px;
    margin-left: 30px;
    padding-bottom: 30px;
}
.quote{

    width: 100%;
    height:450px;
    background-color: #E1D7C6;
    padding-bottom: 50px;
    
    
}
.content{
    font-family: "Great Vibes";
    font-size: 90px;
    font-weight: 800px;
    color: white;
    text-align: center;
    margin-top:-285px;
    margin-bottom: 150px;
}
